@media (max-width: 700px){
    .cabecalho .logo{
        max-width: 50px;
    }
     


    .selecao-de-personagens{
        flex-direction: column-reverse;
        max-width: 430px;
        margin: 0 auto;
        margin-top: 100px;
    }

    .selecao-de-personagens .personagens{
        margin-top: 35px;
    }
    
    

    .selecao-de-personagens .lista-de-personagens{
        gap:19px
    }

    .selecao-de-personagens .personagem img{
        width: 80px;
    }
       
    .personagem-selecionado .personagem-grande{
        width: 350px;
        height: 350px;
        margin-bottom:10px;

       
    }

    .personagem-selecionado .descricao-personagem{
        width: 80%;
        font-size: 16px;
        margin: 20px auto;
        margin-botom:20px;
    }
    #clients{
        margin-top: 80% ;
    }
    #clients .headline{
        font-size: 15px;
        letter-spacing: 5px;
    }
    .cliente{
        display: inline-block;
        width: 25%;
     }

     #clients #finalizacao{
        font-size: 10px;
     }

}
